.row {
    display: flex;
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
}

div[class^="col-"], div[class*=" col-"] {
    padding-right: 15px;
    padding-left: 15px;
}

.row .col-3 {
    width: 25%;
}

.row .col-6 {
    width: 50%;
}

.row .col-9 {
    width: 75%;
}


.icon {
    color: white;
}

.icon-large256 {
    width: 256px;
    height: 256px;
}

object {
    background-color: white;
}

.canvas-wrapper {
    background-color: #fff;
}

.reveal h1 {
    font-size: 3rem;
}

.reveal h1::after {
    content: '';
    height: 2px;
    width: 90px;
    display: block;
    background: #b2b623;
    margin: 1rem auto 4rem auto;
}

.reveal h2 {
    font-size: 2rem !important;
}

.reveal .small {
    font-size: 16px;
}

.reveal section img {
    border: 0;
    background-color: white;
    margin: 0 0;
}

.reveal pre code {
    font-size: 16px;
    white-space: pre-wrap;
}



.radar {
    width: 450px;
    height: 400px;
}

.reveal section ul {
    margin-bottom: 2rem;
}

.reveal section img {
    margin-bottom: 2rem;
}

.reveal .ul--inline {
    margin-left: 0;
}

.ul--inline li {
    display: inline-block;
    margin-right: 0.5rem;
}

.ul--inline li:before {
    display: inline-block;
    margin-right: 0.5rem;
    content: '✓';
}

.red {
    color: red;
}

.green {
    color: green;
}

.reveal .CodeMirror {
    font-size: 20px;
}

.reveal .quotations {
    font-size: 0.75rem;
    text-align: left;
}

.reveal .quotations ol {
    display: block;
}

.reveal .quotations::before {
    content: '';
    height: 2px;
    width: 90px;
    display: block;
    background: #b2b623;
    margin-bottom: 20px;
}

.reveal .quotation-link {
    font-size: 1rem;
    vertical-align: top;
}

.reveal figure {
    display: table;
    margin-bottom: 2rem;
}

.reveal figure img {
    display: block;
    margin-bottom: 0.5rem;
}

.reveal figcaption {
    font-size: 1rem;
    text-align: left;
    display: table-caption;
    caption-side: bottom;
}